#{extends 'main.html' /}
#{set title:'Home' /}

*{#{welcome /}}*
<div data-role="content">
    <div class="content-primary">
        <ul data-role="listview" data-inset="true" data-split-theme="d" data-count-theme="b">
            <li>
                <a href="#">
                    <img src="@{'/public/images/sufeng.jpeg'}" class="ui-li-thumb"/>

                    <h3>Broken Bells</h3>

                    <p>Broken Bells</p>
                    <span class="ui-li-count">12</span>
                </a>
            <li>
                <a href="#">
                    <img src="@{'/public/images/sufeng.jpeg'}" class="ui-li-thumb"/>

                    <h3>Broken Bells</h3>

                    <p>Broken Bells</p>
                    <span class="ui-li-count">12</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="@{'/public/images/sufeng.jpeg'}" class="ui-li-thumb"/>

                    <h3>Broken Bells</h3>

                    <p>Broken Bells</p>
                    <span class="ui-li-count">12</span>
                </a>
            </li>
        </ul>
    </div>
</div><!-- /content -->

