#{extends 'main.html' /}
#{set title:'论坛' /}

*{#{welcome /}}*
<div data-role="content">
    #{if allforums}
    <div class="content-primary">
        <ul data-role="listview" data-inset="true" data-split-theme="d" data-count-theme="b">
            #{list items:allforums, as:'forum'}
            <li>
                <a href="@{Application.forum(forum.getId())}">
                    <h3>${forum.name}</h3>
                    <span class="ui-li-count">${forum.getPostCount()}</span>
                </a>
                <a data-icon="plus" data-iconpos="right" href="@{Application.addPost(forum.id)}">发新帖</a>
            </li>
            #{/list}
        </ul>
    </div>
    #{/if}
</div><!-- /content -->

