#{extends 'main.html' /}
#{set title:'Login' /}

<div data-role="content">
    #{if flash.error}<div><p class="ui-body-e">${flash.error}</p><a data-theme="b" href="#" data-icon="alert" data-iconpos="right"></a></div>#{/if}
*{#{form @Application.login(),method:'POST',id:'loginForm',data-ajax:"false"}}*
    <form action="@{Application.login()}" method="post" data-ajax="false">
        <p class="field">
            <strong>Email:</strong> <input type="text" name="email" size="16" value="${flash.email}">*
        </p>

        <p class="field">
            <strong>Password:</strong> <input type="password" name="password" size="16" value=""> *
        </p>

        <p class="buttons">
            <input type="submit" value="Login">
        </p>
    </form>
    <p>
        <a href="@{register()}" data-ajax="false">注册新账号</a>
    </p>
*{#{/form}}*
</div>
<!-- /content -->